body {
	width: 100%;
	/* height: auto; */
	margin: 0 auto;

	color: #fff;
	font-size: 16px;
	font-family: spotify-circular, Helvetica, Arial, sans-serif;

	background-color: #000;
}

/* 공통 */
a {
	color: #fff;
}

a:hover {
	color: #1ed760;
}

.inner {
	width: 95%;
	margin: 0 auto;
	/* position: relative; */
}

/* header */
header {
	position: sticky;
	top: 0;
	left: 0;
	height: 80px;
	background-color: #000;
	z-index: 1000;
}

header > .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

header h1 > img {
	width: 132px;
	height: 45px;
}

header .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

header .nav a:last-child {
	margin-right: 0;
}

header .nav .border-right::after {
	display: block;
	content: '';
	width: 2px;
	height: 16px;
	background-color: #fff;
}

header #mobile-btn {
	display: none;
}

header #mobile-btn + .mobile-icon {
	display: none;
	margin: 30px;
	width: 24px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
}

header #mobile-btn + .mobile-icon span {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 24px;
	background: #fff;
	transition: all 0.35s;
}

header #mobile-btn + .mobile-icon span:nth-child(1) {
	top: 0;
}

header #mobile-btn + .mobile-icon span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

header #mobile-btn + .mobile-icon span:nth-child(3) {
	bottom: 0;
}

header #mobile-btn:checked + .mobile-icon span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
header #mobile-btn:checked + .mobile-icon span:nth-child(2) {
	opacity: 0;
}
header #mobile-btn:checked + .mobile-icon span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
	/* transform: translateY(50%) rotate(-45deg); */
}

header .side-bar {
	width: 100%;
	position: absolute;
	top: 80px;
	left: -9999px;
	padding: 1.2em;
	background-color: #000;
	transition: all 0.35s;
}

header #mobile-btn:checked + .mobile-icon + .side-bar {
	left: 0;
}

header .side-bar li {
	line-height: 3em;
}

/* main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	background-color: #2941ab;
	background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
	background-size: 175%;
	background-position: 46% 4%;
}

main .content {
	/* width: 95%; */
	margin: 0 auto;
	/* border: 1px solid #000;
	box-sizing: border-box; */
}

main .content h2 {
	margin: 0;
	color: #1ed760;
	font-size: 10em;
	font-weight: 900;
	-webkit-text-stroke: 1px #2941ab;
}

main .content h2:first-child {
	padding-bottom: 10px;
	text-align: left;
}

main .content h2:last-child {
	text-align: right;
}

main .text {
	margin: 50px 0;
	color: #1ed760;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	-webkit-text-stroke: 0.8px #2941ab;
}

main .button-area {
	text-align: center;
	margin-bottom: 5%;
}

main .button-area button {
	padding: 1.2em 1.8em;

	color: #2941ab;
	font-size: inherit;
	font-weight: 700;

	background-color: #1ed760;
	border: none;
	border-radius: 500px;

	cursor: pointer;
}

main .button-area button:hover {
	background-color: #2de26d;
	transform: scale(1.07);
}

/* footer */
footer {
	padding: 5% 0;
}

footer .section-menu {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin-bottom: 50px;
}

footer .section-menu .menu-area {
	display: flex;
	align-items: start;
	gap: 50px;
}

footer .section-menu .menu-area .logo-img img {
	width: 132px;
	height: 45px;
}

footer .section-menu .menu-area li h3 {
	color: #919496;
	font-weight: 900;
	line-height: 2em;
}

footer .section-menu .menu-area .flex-column li a {
	line-height: 1.8em;
}

footer .icon-area {
	display: flex;
	gap: 10px;
}

footer .icon-area .icon-box {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 54px;
	height: 54px;
	margin-right: 15px;

	background-color: #222322;
	border-radius: 50%;
}

footer .icon-area .icon-box:last-child {
	margin: 0;
}

footer .icon-area .icon-box {
	cursor: pointer;
}

footer .icon-area .icon-box i {
	font-size: 24px;
}

footer .icon-area .icon-box:hover i {
	color: #1ed760;
}

footer .section-usa {
	margin-bottom: 20px;
	color: #919496;
	font-size: 12px;
	text-align: right;
}

footer .section-privacy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

footer .section-privacy .privacy-area {
	display: flex;
	gap: 20px;
}

footer .section-privacy .privacy-area a {
	color: #919496;
}

footer .section-privacy .privacy-area a:hover {
	color: #1ed760;
}

footer .section-privacy p {
	color: #919496;
}

@media (min-width: 2048px) {
	body {
		font-size: 1.2em;
	}

	.inner {
		width: 80%;
	}

	main .content {
		width: 95%;
	}

	main .content h2 {
		font-size: 10em;
	}
	main .text p {
		font-size: 1.5em;
	}
}

@media (max-width: 1200px) {
	main .content h2 {
		font-size: 8em;
	}
}

@media (max-width: 992px) {
	main .content h2 {
		font-size: 6em;
	}

	footer .section-menu {
		flex-direction: column;
		align-items: center;
	}

	footer .section-menu .menu-area {
		margin-bottom: 50px;
	}

	footer .section-privacy {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	footer .section-privacy .privacy-area {
		text-align: center;
	}
}

@media (max-width: 768px) {
	header .nav a,
	header .nav span {
		display: none;
	}

	header #mobile-btn + .mobile-icon {
		display: block;
	}

	main .content h2 {
		font-size: 4.5em;
	}

	main .mobile-btn:hover .mobile-nav {
		display: block;
	}

	footer .section-menu {
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
	}

	footer .section-menu .menu-area {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.8em;
	}

	footer .section-menu .menu-area .flex-column {
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	footer .section-menu .menu-area .flex-column li h3 {
		color: #fff;
		cursor: pointer;
	}

	footer .section-menu .menu-area .flex-column li h3::after {
		display: inline-block;
		width: 15px;
		height: 15px;
		line-height: 0.8em;
		border-radius: 100%;
		text-align: center;
		content: '+';
		margin-left: 0.5em;
		border: 1px solid #fff;
		padding: 0.5em;
	}

	footer .section-menu .menu-area .flex-column li h3:hover {
		color: #1ed760;
	}

	footer .section-menu .menu-area .flex-column li:hover h3::after {
		border-color: #1ed760;
	}

	footer .section-privacy .privacy-area {
		margin-bottom: 2em;
	}
}

@media (max-width: 576px) {
	main .content h2 {
		font-size: 4em;
	}

	footer .section-menu .menu-area .flex-column li h3 {
		color: #fff;
		cursor: pointer;
		font-size: 1em;
	}

	footer .section-menu .menu-area .flex-column li h3::after {
		width: 10px;
		height: 10px;
		line-height: 0.8em;
	}

	footer .section-menu .menu-area .flex-column li a {
		display: none;
	}

	footer .section-usa {
		text-align: center;
	}

	footer .section-privacy p {
		text-align: center;
	}

	footer .section-privacy .privacy-area {
		display: none;
	}

	footer .section-privacy p {
		font-size: 0.9em;
	}
}

@media (max-width: 472px) {
	main .content h2 {
		font-size: 3em;
	}

	main .text {
		font-size: 1em;
	}

	footer .section-menu .menu-area .flex-column li h3 {
		color: #fff;
		cursor: pointer;
		font-size: 0.8em;
	}
}

@media (max-width: 356px) {
	main .content h2 {
		font-size: 2.5em;
	}

	main .button-area button {
		font-size: 0.8em;
	}
}
